hello_world.c
hello_world.so
hello_world.o
./Makefile
postgresql-11.4.tar.gz
sqrtextension
pg11
postgresql-11.4
base36extension
custombgw
get-pip.py
sampleExtensions
createNewPostgres.sh
master_log
master_log_01
master_log_02
slave_log
slave_log_01
slave_log_02
pythoncodes
bgforstudentandmarks
samplequeryextension
.vscode